{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12" id="index-wrapper">
            <h2>Welcome to Tiny Google</h2>
            <div id="init-container">
                <form action="/initialize/" method="POST" id="init-form" novalidate>
                    {% csrf_token %}
                    <input type="submit" class="submit-btn btn" id="initialize-button" value="Initialize Index" />
                </form>
            </div>

            <div id="search-container" style="display: none;">
                <h4>The inverted index has been initialized</h4>
                <form action="/search/" method="POST" id="search-form" novalidate>
                    {% csrf_token %}
                    <input type="text" id="search-input" name="search" placeholder="Enter key words here" />
                    <input type="submit" id="search-button" class="submit-btn btn" value="Search"/>
                </form>

                <div id="result-container"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        $("#init-form").submit(function(e) {
            e.preventDefault();

            var $form = $(this);
            var data = $form.serialize();
            $.ajax({
                type: "POST",
                url: "http://localhost:8000" + $form.attr("action"),
                data: data,
                dataType: "html",
                success: function() {
                    $("#init-container").fadeOut(500, function() {
                        $("#search-container").show();
                    });
                }
            });
        });

        $("#search-form").submit(function(e) {
            e.preventDefault();

            var $form = $(this);
            var data = $form.serialize();
            var keywords = $form.find("#search-input").val().split(" ");
            $.ajax({
                type: "POST",
                url: "http://localhost:8000" + $form.attr("action"),
                data: data,
                dataType: "html",
                success: function(result_data) {
                    for (var i = 0; i < keywords.length; i++) {
                        console.log(keywords[i]);
                        result_data = result_data.split(keywords[i]).join("<b>" + keywords[i] + "</b>");
                    }
                    $("#result-container").html(result_data);
                }
            });
        });
    });

    $(document).ajaxStart(function() {
        if ($("#init-container").is(":visible")) {
            $("#init-container").html("<h4>Initializing the inverted index...");
        }
    });
</script>
{% endblock %}
